[Unit]
Description=Jade Server
After=syslog.target
After=network-online.target
Wants=network-online.target

[Service]
# if you install openrpt and xvfb, set the display number here
Environment="DISPLAY=:17"
ExecStart=/Users/Will/Projects/jade-cms/jade-server/venv/bin/uwsgi       \
        --ini /Users/Will/Projects/jade-cms/jade-server/jade/jade.ini           \
        --logto /var/log/uwsgi/jade-server.log      \
        --socket /Users/Will/Projects/jade-cms/jade-server/uwsgi.sock      \
        --stats /Users/Will/Projects/jade-cms/jade-server/stats.sock
User=Will
Group=Will
RuntimeDirectory=uwsgi
Restart=on-failure
KillSignal=SIGTERM
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
