:root {
  --jade-color: #006a38;
  --success-color: #006a38;

  --primary-button-bg: #006a38;
  --primary-button-fg: #ffffff;
  --primary-button-hover-bg: #006a38;
  --primary-button-hover-fg: #ffffff;

}